<div class="row">
    <div class="forms">
        <div class="form-group">
            <div class="row">
              <div class="col-md-10"></div>
  
              <div class="col-md-2">
                  <a routerLink="../searchapplicant"><button type="" class="btn btn-success edit-button">Search Applicant</button></a>
              </div>
            </div>
          </div>
           <form class="form-horizontal">
               <div class="row">
                    <div class="col-md-6">
                            <div class="form-group">
                                    <label class="control-label col-sm-4" for="email">Name</label>
                                    <div class="col-sm-4">
                                      <input type="email" class="form-control form-width" id="" name="" placeholder="Firstname">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="email" class="form-control form-width" id="" name=""  placeholder="Lastname">
                                    </div>
                            </div>
                            <div class="form-group">
                                    <label class="control-label col-sm-4" for="pwd">City Address</label>
                                    <div class="col-sm-8">          
                                      <input type="" class="form-control form-width" id="" name="">
                                    </div>
                            </div>
                                  <div class="form-group">
                                      <label class="control-label col-sm-4" for="pwd">Provincial Address</label>
                                      <div class="col-sm-8">          
                                        <input type="" class="form-control form-width" id="" name="">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="pwd">Email</label>
                                        <div class="col-sm-8">          
                                          <input type="" class="form-control form-width" id="" name="">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="control-label col-sm-4" for="pwd">Nationality</label>
                                          <div class="col-sm-8">          
                                            <input type="" class="form-control form-width" id="p" name="">
                                          </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="control-label col-sm-4" for="email">Religion</label>
                                                <div class="col-sm-8">
                                                  <input type="email" class="form-control form-width" id="" name="">
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <label class="control-label col-sm-4" for="pwd">Weight</label>
                                                <div class="col-sm-8">          
                                                  <input type="" class="form-control form-width" id="" name="">
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                  <label class="control-label col-sm-4" for="pwd">Height</label>
                                                  <div class="col-sm-8">          
                                                    <input type="" class="form-control form-width" id="" name="">
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4" for="pwd">Father's Name</label>
                                                    <div class="col-sm-8">          
                                                      <input type="" class="form-control form-width" id="" name="">
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label class="control-label col-sm-4" for="pwd">Mother's Name</label>
                                                      <div class="col-sm-8">          
                                                        <input type="" class="form-control form-width" id="p" name="">
                                                      </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4" for="pwd">Spouse's Name</label>
                                                            <div class="col-sm-8">          
                                                              <input type="" class="form-control form-width" id="" name="">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4" for="pwd">Beneficiary</label>
                                                              <div class="col-sm-8">          
                                                                <input type="" class="form-control form-width" id="p" name="">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                            <label class="control-label col-sm-4" for="pwd">Relationship</label>
                                                                <div class="col-sm-8">          
                                                                  <input type="" class="form-control form-width" id="" name="">
                                                            </div>
                                                    </div>
                                                   
                       </div>
                       <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="email">Phone No</label>
                                    <div class="col-sm-8">
                                      <input type="email" class="form-control form-width" id="" name="">
                                    </div>
                                </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="pwd">Telphone</label>
                                    <div class="col-sm-8">          
                                      <input type="" class="form-control form-width" id="" name="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="pwd">Civil Status</label>
                                      <div class="col-sm-8">          
                                        <input type="" class="form-control form-width" id="" name="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="pwd">D.O.B</label>
                                        <div class="col-sm-8">          
                                          <input type="" class="form-control form-width" id="" name="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="pwd">Age</label>
                                        <div class="col-sm-8">          
                                            <input type="" class="form-control form-width" id="p" name="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="email">Sex</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control form-width" id="" name="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="pwd">Father DOB</label>
                                    <div class="col-sm-8">          
                                         <input type="" class="form-control form-width" id="" name="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="pwd">Mother DOB</label>
                                    <div class="col-sm-8">          
                                        <input type="" class="form-control form-width" id="" name="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="pwd">Spouse DOB</label>
                                    <div class="col-sm-8">          
                                        <input type="" class="form-control form-width" id="" name="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="pwd">Other contact person</label>
                                    <div class="col-sm-8">          
                                        <input type="" class="form-control form-width" id="p" name="">
                                </div>
                            </div>
                       </div>
               </div>
            </form>
          </div>
  </div>
  <div class="row">
        <div class="forms">
               <form class="form-horizontal">
                   <div class="row">
                        <div class="col-md-12">
                                <div class="form-group">
                                        <label class="control-label col-sm-3" for="email"></label>
                                        <label class="control-label col-sm-3" for="email">Name of School</label>
                                        <label class="control-label col-sm-3" for="email">Year FR-TO</label>
                                        <label class="control-label col-sm-3" for="email">Degree/Course</label>
                                </div>
                                <div class="form-group">
                                        <label class="control-label col-sm-2" for="pwd">High School</label>
                                        <div class="col-sm-4">          
                                          <input type="" class="form-control form-width" id="" name="">
                                        </div>
                                        <div class="col-sm-3">          
                                            <input type="" class="form-control form-width" id="" name="">
                                        </div>
                                        <div class="col-sm-3">          
                                            <input type="" class="form-control form-width" id="" name="">
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="control-label col-sm-2" for="pwd">College</label>
                                        <div class="col-sm-4">          
                                          <input type="" class="form-control form-width" id="" name="">
                                        </div>
                                        <div class="col-sm-3">          
                                            <input type="" class="form-control form-width" id="" name="">
                                        </div>
                                        <div class="col-sm-3">          
                                            <input type="" class="form-control form-width" id="" name="">
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="control-label col-sm-2" for="pwd">Vocational</label>
                                        <div class="col-sm-4">          
                                          <input type="" class="form-control form-width" id="" name="">
                                        </div>
                                        <div class="col-sm-3">          
                                            <input type="" class="form-control form-width" id="" name="">
                                        </div>
                                        <div class="col-sm-3">          
                                            <input type="" class="form-control form-width" id="" name="">
                                        </div>
                                </div>  
                                <div class="form-group">
                                        <label class="control-label col-sm-2" for="pwd">Traning/Seminars</label>
                                        <div class="col-sm-4">          
                                          <input type="" class="form-control form-width" id="" name="">
                                        </div>
                                        <div class="col-sm-3">          
                                            <input type="" class="form-control form-width" id="" name="">
                                        </div>
                                        <div class="col-sm-3">          
                                            <input type="" class="form-control form-width" id="" name="">
                                        </div>
                                </div>       
                           </div>
                   </div>
                </form>
              </div>
      </div>
      <div class="row">
            <div class="forms">
                   <form class="form-horizontal">
                       <div class="row">
                            <div class="col-md-12">
                                    <div class="form-group">
                                            <label class="control-label col-sm-4" for="email">Name of Company</label>
                                            <label class="control-label col-sm-2" for="email">Position</label>
                                            <label class="control-label col-sm-2" for="email">Country</label>
                                            <label class="control-label col-sm-2" for="email">Year FR-TO</label>
                                            <label class="control-label col-sm-2" for="email">Total Years</label>
                                    </div>
                                    <div class="form-group">
                                            <div class="col-sm-4">          
                                              <input type="" class="form-control form-width" id="" name="">
                                            </div>
                                            <div class="col-sm-2">          
                                                <input type="" class="form-control form-width" id="" name="">
                                            </div>
                                            <div class="col-sm-2">          
                                                <input type="" class="form-control form-width" id="" name="">
                                            </div>
                                            <div class="col-sm-2">          
                                                    <input type="" class="form-control form-width" id="" name="">
                                            </div>
                                            <div class="col-sm-2">          
                                                    <input type="" class="form-control form-width" id="" name="">
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <div class="col-sm-4">          
                                                    <input type="" class="form-control form-width" id="" name="">
                                                  </div>
                                                  <div class="col-sm-2">          
                                                      <input type="" class="form-control form-width" id="" name="">
                                                  </div>
                                                  <div class="col-sm-2">          
                                                      <input type="" class="form-control form-width" id="" name="">
                                                  </div>
                                                  <div class="col-sm-2">          
                                                          <input type="" class="form-control form-width" id="" name="">
                                                  </div>
                                                  <div class="col-sm-2">          
                                                          <input type="" class="form-control form-width" id="" name="">
                                                  </div>
                                    </div>
                                    <div class="form-group">
                                            <div class="col-sm-4">          
                                                    <input type="" class="form-control form-width" id="" name="">
                                                  </div>
                                                  <div class="col-sm-2">          
                                                      <input type="" class="form-control form-width" id="" name="">
                                                  </div>
                                                  <div class="col-sm-2">          
                                                      <input type="" class="form-control form-width" id="" name="">
                                                  </div>
                                                  <div class="col-sm-2">          
                                                          <input type="" class="form-control form-width" id="" name="">
                                                  </div>
                                                  <div class="col-sm-2">          
                                                          <input type="" class="form-control form-width" id="" name="">
                                                  </div>
                                    </div>  
                                    <div class="form-group">
                                            <div class="col-sm-4">          
                                                    <input type="" class="form-control form-width" id="" name="">
                                                  </div>
                                                  <div class="col-sm-2">          
                                                      <input type="" class="form-control form-width" id="" name="">
                                                  </div>
                                                  <div class="col-sm-2">          
                                                      <input type="" class="form-control form-width" id="" name="">
                                                  </div>
                                                  <div class="col-sm-2">          
                                                          <input type="" class="form-control form-width" id="" name="">
                                                  </div>
                                                  <div class="col-sm-2">          
                                                          <input type="" class="form-control form-width" id="" name="">
                                                  </div>
                                    </div>       
                               </div>
                       </div>
                    </form>
                  </div>
          </div>
    <div class="row">
                <div class="forms">
                       <form class="form-horizontal">
                           <div class="row">
                               <div class="col-md-12">
                                    <div class="form-group">
                                            <label class="control-label col-sm-2" for="email">Job Description</label>
                                            <div class="col-sm-12">
                                             <textarea rows="4" cols="120"></textarea>
                                            </div>
                                    </div>
                               </div>
                                <div class="col-md-6">
                                        <div class="form-group">
                                                <label class="control-label col-sm-4" for="email">Other Skills</label>
                                                <div class="col-sm-8">
                                                  <input type="email" class="form-control form-width" id="" name="">
                                                </div>
                        
                                        </div>
                                        <div class="form-group">
                                                <label class="control-label col-sm-4" for="pwd">P.R.C License No</label>
                                                <div class="col-sm-8">          
                                                  <input type="" class="form-control form-width" id="" name="">
                                                </div>
                                        </div>
                                              <div class="form-group">
                                                  <label class="control-label col-sm-4" for="pwd">Date Issued</label>
                                                  <div class="col-sm-8">          
                                                    <input type="" class="form-control form-width" id="" name="">
                                                  </div>
                                                </div>
                                               
                                   </div>
                                   <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4" for="email">Passport No</label>
                                                <div class="col-sm-8">
                                                  <input type="email" class="form-control form-width" id="" name="">
                                                </div>
                                            </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4" for="pwd">Passport Expiry Date</label>
                                                <div class="col-sm-8">          
                                                  <input type="" class="form-control form-width" id="" name="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4" for="pwd">Drivers License</label>
                                                  <div class="col-sm-8">          
                                                    <input type="" class="form-control form-width" id="" name="">
                                            </div>
                                        </div>
                                </div>
                           </div>
                          
                        </form>
                        <div class="form-group">
                            <div class="row">
                              <div class="col-md-4"></div>
                              <div class="col-md-2">
                                  <button type="" class="btn btn-success edit-button" >Save</button>
                              </div>
                              <div class="col-md-2">
                                  <button type="" class="btn btn-success edit-button">Reset</button>
                              </div>
                            </div>
                          </div>
                      </div>
        </div>
  