<div class="row">
    <div class="forms">
           <form class="form-horizontal">
                <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>S.no</th>
                            <th>Branch</th>
                            <th>Date</th>
                            <th>Code</th>
                            <th>Email Id</th>
                            <th>Total Agents</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Prvinceo 1</td>
                            <td>12/2/2019</td>
                            <td>976757567</td>
                            <td>john@example.com</td>
                            <td>5</td>
                            <td class="buton_align"><button type="button" class="btn btn-default default_button" (click)="onagentsClick()"><a routerLink="agentlist">View</a></button>
                            </td>
                          </tr>
                          <tr>
                                <td>2</td>
                                <td>Prvinceo 2</td>
                                <td>12/2/2019</td>
                                <td>976757567</td>
                                <td>john@example.com</td>
                                <td>8</td>
                                <td><button type="button" class="btn btn-default default_button" (click)="onagentsClick()"><a routerLink="agentlist">View</a></button>
                                </td>    
                          </tr>
                        </tbody>
                 </table>   
           </form>
           </div>
    </div>