<div class="row">
    <div class="forms">
           <form class="form-horizontal">
                <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>S.no</th>
                            <th>Branch</th>
                            <th>JO Handler</th>
                            <th>Applicant</th>
                            <th>Applicant Id</th>
                            <th>OWWA Status</th>
                            <th>PEDOS Status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Province 1</td>
                            <td>Ankit</td>
                            <td>Jai</td>
                            <td>101</td>
                            <td>Cleared</td>
                            <td>Pending</td>
                            <td class="buton_align"><a routerLink="../jodetails"><button type="button" class="btn btn-default default_button">View</button></a><br>
                                <button type="button" class="btn btn-default default_button">Delete</button>
                            </td>
                          </tr>
                          <tr>
                                <td>2</td>
                                <td>Province 1</td>
                                <td>Ankit</td>
                                <td>Jai</td>
                                <td>101</td>
                                <td>Cleared</td>
                                <td>Pending</td>
                                <td><button type="button" class="btn btn-default default_button">View</button><br>
                                    <button type="button" class="btn btn-default default_button">Delete</button>
                                </td>    
                          </tr>
                        </tbody>
                 </table>   
           </form>
           </div>
    </div>