<ul class="sidebar-nav" id="sidebar">     
    <li><a routerLink="home"><span class="sub_icon fa fa-home"></span>Dashboard</a></li>
     <li class="dropdown-toggle dropdown" ><a href="#homeSubmenu" aria-expanded="false" data-toggle="dropdown"><span class="sub_icon fa fa-list"></span>Agents<span class="sub_icon2 fa fa-minus"></span></a>
        <ul class="dropdown-menu">
          <li>
              <a routerLink="agents">All Agents</a>
          </li>
          <li>
              <a routerLink="addagent">Add Agents</a>
          </li>
      </ul>
      </li>
    <li class="dropdown-toggle dropdown" ><a href="#homeSubmenu" aria-expanded="false" data-toggle="dropdown"><span class="sub_icon fa fa-users"></span>Applicants<span class="sub_icon2 fa fa-minus"></span></a>
        <ul class="dropdown-menu">
          <li>
              <a routerLink="applicants">All Applicants</a>
          </li>
          <li>
              <a routerLink="addapplicant">Add Applicants</a>
          </li>
      </ul>
      </li>
      <li class="dropdown-toggle dropdown" ><a href="#homeSubmenu" aria-expanded="false" data-toggle="dropdown"><span class="sub_icon fa fa-list"></span>Branches<span class="sub_icon2 fa fa-minus"></span></a>
        <ul class="dropdown-menu">
          <li>
              <a routerLink="branches">All Branches</a>
          </li>
          <li>
              <a routerLink="addbranch">Add Branch</a>
          </li>
      </ul>
      </li>
       <li class="dropdown-toggle dropdown" ><a href="#homeSubmenu" aria-expanded="false" data-toggle="dropdown"><span class="sub_icon fa fa-list"></span>Accounts<span class="sub_icon2 fa fa-minus"></span></a>
        <ul class="dropdown-menu">
          <li>
              <a routerLink="accounts">All Account Dep</a>
          </li>
          <li>
              <a routerLink="addaccount">Add Account Dep</a>
          </li>
      </ul>
      </li>
       <li class="dropdown-toggle dropdown" ><a href="#homeSubmenu" aria-expanded="false" data-toggle="dropdown"><span class="sub_icon fa fa-list"></span>JO Handler<span class="sub_icon2 fa fa-minus"></span></a>
        <ul class="dropdown-menu">
          <li>
              <a routerLink="johandlers">All JO Handlers</a>
          </li>
          <li>
              <a routerLink="addjo">Add JO Handler</a>
          </li>
           <li>
              <a routerLink="providejo">Provide JO Handler</a>
          </li>
      </ul>
      </li>
       <li><a routerLink="sms"><span class="sub_icon fa fa-edit"></span>SMS</a></li>
     </ul>
     <ul class="blank-space sidebar-nav"></ul>